<!-- app/views/layouts/_footer.html.erb -->
<footer class="bg-transparent text-white py-4 mt-8">
  <div class="container mx-auto flex flex-row justify-center items-center space-x-6 px-4">
    <!-- アプリ名 -->
    <div class="text-gray-400 font-bold">
      pomomusic
    </div>

    <!-- 問い合わせリンク -->
    <div>
      <%= link_to "お問い合わせ", "https://x.com/kouhei_1002_", target: "_blank", rel: "noopener noreferrer",
      class: "text-gray-400 hover:text-gray-600" %>
    </div>
  </div>
</footer>
