<header class="bg-amber-600 shadow-md p-4 flex items-center sticky top-0">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "ロゴ", class: "h-7" %>
    <% end %>
  </div>
</header>