<div class="flex flex-col items-center justify-center min-h-screen">
  <img src="<%= asset_path('logo.png') %>" alt="ロゴ" class="w-128 h-auto">
  <h1 class="text-4xl font-bold text-white/90 drop-shadow-[0_0_2px_black]">
    〜束の間の休息に音楽を〜
  </h1>
  <!-- ボタン風 -->
  <button class="mt-50 px-6 py-3 bg-orange-200 text-blue-500 font-semibold rounded shadow-md 
                hover:bg-orange-100 hover:shadow-lg active:translate-y-0.5 transition-all
                drop-shadow-[0_0_1px_black]">
    ランダムな曲を聴く
  </button>
</div>
